/* condice generico */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Fredoka", sans-serif;
}

#container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    /* DEBUG */
    background-color: aqua;
    height: 500px;
}